* {
    box-sizing: border-box;
}

.register-form {
    margin: 0 auto;
    width: 700px;
    margin-top: 204px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #42464b;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    background: #fff;
    border-color: 1px solid #42464b;
}

label {
    color: #000000;
}

input[type="submit"] {
    all: initial;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    width: 100%;
    height: 4rem;
    color: white;
    background: #000000;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    border: none;
}

/*.btn-primary {
        color: #fff;
        border-color: #0d6efd;
        width: 100%;
    }*/

.button_registar {
    text-align: center;
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 2rem 0 2.2rem;
    color: white;
    background: #000000;
    font-size: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    border: none;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

#carta {
    margin-bottom: .5rem;
}

#veiculo {
    margin-bottom: .5rem;
}
