* {
    box-sizing: border-box;
}

body {
    background-image: url("./img/food_1.jpg");
    background-color: #cccccc;
    background-size: 100%;
}

#description {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
}

.register-form {
    margin: 0 auto;
    width: 700px;
    margin-top: 204px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #42464b;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    background: #fff;
    border-color: 1px solid #42464b;
}

label {
    color: #000000;
}

input[type="submit"] {
    all: initial;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    width: 100%;
    height: 4rem;
    color: white;
    background: #000000;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    border: none;
}

/*.btn-primary {
        color: #fff;
        border-color: #0d6efd;
        width: 100%;
    }*/

.button_registar {
    text-align: center;
    position: relative;
    width: 100%;
    height: 3rem;
    color: white;
    background: #B7B7B7;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    border: none;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}